*, html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
}

.section-title {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.custom-img-shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #ffa6a6);
    filter: drop-shadow(5px 5px 5px #ffa6a6);
}

.pending-comment {
    pointer-events: none;
    opacity: .6;
}