@import 'variables';
@import 'global';


#hero-section {

    .banner {
        position: relative;
        height: 80vh;
        width: 100%;
        // overflow: hidden;

        .banner-bg {
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                size: cover;
            }
        }

        .banner-cta {
            position: absolute;
            bottom: 100px;
            left: 100px;
            font-size: 1.3rem;

            .title {
                display: block;
                font-size: 2.5rem;
                text-transform: capitalize;
                margin-bottom: 1rem;
                color: #fff;
                font-weight: 500;
            }
        }
    }

    #blog-nav {
        .bnav-link {
            font-weight: bold;

            &:not(:last-child) {
                margin-right: 1.3rem;
            }
        }
    }
}

#most-popular, #recents {
    .single-article {
        margin-bottom: 2rem;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}